anthropic==0.25.6
nltk==3.8.1
numpy==1.26.4
openai==1.55.3
pandas==2.2.3
pydantic==2.7.1
pydantic_core==2.18.2
pyparsing==3.0.5
python-dotenv==1.0.0
regex==2023.10.3
requests==2.31.0
scipy==1.11.4
Scrapy==2.11.0
streamlit==1.40.2
yfinance==0.2.50
praw==7.8.1
supabase==2.10.0